<%- include("partials/header"); %>


<form>

  <h2>Edit your personal information</h2>

  <label for="firstName">First Name</label>
  <input type="text" name="firstName" value="<%= user.studentProfile.firstName %>" required />
  <div class="firstName error"></div>

  <label for="lastName">Last Name</label>
  <input type="text" name="lastName" value="<%= user.studentProfile.lastName %>" required />
  <div class="lastName error"></div>

  <label for="birthDate">Birth Date</label>
  <input type="date" name="birthDate" required />
  <div class="birthDate error"></div>

  <label for="gender">Gender</label>
  <select name="gender" required>
    <option value="">--Select--</option>
    <% if (user.studentProfile.gender === "male") { %>
      <option value="male" selected>Male</option>
    <% } else { %>
      <option value="male">Male</option>
    <% } %>
    <option value="female">Female</option>
    <option value="non-binary">Non-Binary</option>
    <option value="self-describe">Prefer to self-describe</option>
  </select>
  <div class="gender error"></div>

  <label for="race">Race</label>
  <select name="race" required>
    <option value="">--Select--</option>
    <option value="white">White</option>
    <option value="black">Black or African American</option>
    <option value="asian">Asian</option>
    <option value="native-american">Native American or Alaska Native</option>
    <option value="native-hawaiian">Native Hawaiian or Other Pacific Islander</option>
    <option value="hispanic">Hispanic or Latino</option>
    <option value="mixed">Two or More Races</option>
    <option value="other">Other</option>
    <option value="prefer-not-to-say">Prefer not to say</option>
  </select>
  <div class="race error"></div>

  <label for="gpa">Current Grade Point Average</label>
  <input type="text" name="gpa" required />
  <div class="gpa error"></div>

  <label for="school">Current School</label>
  <input type="text" name="school" required />
  <div class="school error"></div>

  <button>Submit</button>

</form>


<div class="interests">
  <% if (user.studentProfile.interests.length !== 0) { %>
    <h3>Here are your listed interests!</h3>

    <ul>
      <% user.studentProfile.interests.forEach(interest => { %>
        <li><%= interest %></li>
      <% }) %>
    </ul>

  <% } else { %>
    <h3>Please fill out your interests!</h3>
    <form class="interests-form">

      <div class="checkbox-group">
        <div class="checkbox-item">
            <label for="interest1">Science</label>
            <input type="checkbox" id="interest1" name="interests" value="science">
          
        </div>

        <div class="checkbox-item">
            <label for="interest2">Technology</label>
            <input type="checkbox" id="interest2" name="interests" value="technology">
            
        </div>

        <div class="checkbox-item">
            <label for="interest3">Engineering</label>
            <input type="checkbox" id="interest3" name="interests" value="engineering">
            
        </div>

        <div class="checkbox-item">
            <label for="interest4">Math</label>
            <input type="checkbox" id="interest4" name="interests" value="math">
            
        </div>

        <div class="checkbox-item">
            <label for="interest5">Arts</label>
            <input type="checkbox" id="interest5" name="interests" value="arts">
            
        </div>

        <div class="checkbox-item">
            <label for="interest6">Politics</label>
            <input type="checkbox" id="interest6" name="interests" value="politics">
            
        </div>

        <div class="checkbox-item">
            <label for="interest7">History</label>
            <input type="checkbox" id="interest7" name="interests" value="history">
            
        </div>

        <div class="checkbox-item">
            <label for="interest8">Sports</label>
            <input type="checkbox" id="interest8" name="interests" value="sports">
            
        </div>

        <div class="checkbox-item">
            <label for="interest9">Reading/Writing</label>
            <input type="checkbox" id="interest9" name="interests" value="literature">
            
        </div>

        <div class="checkbox-item">
            <label for="interest10">Music</label>
            <input type="checkbox" id="interest10" name="interests" value="music">
        </div>

        <div class="checkbox-item">
            <label for="interest11">Medicine</label>
            <input type="checkbox" id="interest11" name="interests" value="medicine">
        </div>
      </div>

      <button>Submit</button>

    </form>
  <% } %>

</div>


<%- include("partials/footer"); %>