<%- include("partials/header"); %>

<div class="clubs">
  <% if (user.studentProfile.interests.length !== 0) { %>
      <div class="profile-page-container">
        <div class="profile-details">
          <div class="profile-info-details">
            <img src="/picture<%= user.studentProfile.profile || 'default' %>.png" alt="Profile Picture" class="profile-icon">
            <button id="profile-button">Select Profile Picture</button>
            <form class="profile-select-form invisible">
  
              <label><img src="/picture1.PNG" alt="Option 1" class="profile-preview"></label>
              <input type="radio" name="profile" value="1">

              <label><img src="/picture2.PNG" alt="Option 2" class="profile-preview"></label>
              <input type="radio" name="profile" value="2">

              <label><img src="/picture3.PNG" alt="Option 3" class="profile-preview"></label>
              <input type="radio" name="profile" value="3">

              <label><img src="/picture4.PNG" alt="Option 4" class="profile-preview"></label>
              <input type="radio" name="profile" value="4">

              <label><img src="/picture5.PNG" alt="Option 5" class="profile-preview"></label>
              <input type="radio" name="profile" value="5">

              <label><img src="/picture6.PNG" alt="Option 6" class="profile-preview"></label>
              <input type="radio" name="profile" value="6">

              <label><img src="/picture7.PNG" alt="Option 7" class="profile-preview"></label>
              <input type="radio" name="profile" value="7">

              <label><img src="/picture8.PNG" alt="Option 8" class="profile-preview"></label>
              <input type="radio" name="profile" value="8">

              <label><img src="/picture9.PNG" alt="Option 9" class="profile-preview"></label>
              <input type="radio" name="profile" value="9">

              <label><img src="/picture10.PNG" alt="Option 10" class="profile-preview"></label>
              <input type="radio" name="profile" value="10">

              <button>Submit</button>

            </form>
            <h2><%= user.studentProfile.firstName %> <%= user.studentProfile.lastName %></h2>
            <p><a href="mailto:email@example.com">Email address</a>: <%= user.email %></p>            
            <p>School: <%= user.studentProfile.school %></p>
            <p>Grade: <%= user.studentProfile.schoolYear %></p>
          </div>
          <div class="button-container">
            <% if (!user.studentProfile.educator) { %>
              <button class="teacher-button">Add your teacher</button>
            <% } else { %>
              <p>Educator: <%= user.studentProfile.educator.firstName %> <%= user.studentProfile.educator.lastName %></p>
            <% } %>
          </div>
        </div>

      <!-- Right section with personal plan -->
      <div class="personal-plan">
          <h3>4-Year Personal Plan</h3>
          <div class="plan-details">
            <div class="plan-item">
              <div id="program"><span style="text-decoration: underline;">Eligible Programs:</span></div> <div id="internships"><span style="text-decoration: underline;">Internships:</span></div>
            </div>
            <div class="plan-item">
              <div id="clubs"><span style="text-decoration: underline;">Clubs:</span></div> <div id="scholarships"><span style="text-decoration: underline;">Eligible Scholarships:</span></div>
            </div>
          </div>
      </div>
    </div>
    <div class="bottom-nav">
      <div class="feature-item feature-green">
        <a href="/scholarships">
          <img src="/scholarships-icon.png" alt="Scholarships Icon">
        </a>
        <p>Scholarships</p>
      </div>
      <div class="feature-item feature-blue">
        <a href="/university">
          <img src="/universities-icon.png" alt="Universities Icon">
        </a>
        <p>Universities</p>
      </div>
      <div class="feature-item feature-green">
        <a href="/extracurriculars">
          <img src="/extracurriculars-icon.png" alt="Extracurriculars Icon">
        </a>
        <p>Extracurriculars</p>
      </div>
      <div class="feature-item feature-blue">
        <a href="/programs">
          <img src="/programs-icon.png" alt="Programs Icon">
        </a>
        <p>Programs</p>
      </div>
  </div>
  <% } else { %>
    <div class="welcome-container">
      <div class="image-container">
        <img src="/interest-side.png" alt="Interests Image">
      </div>
      <div class="interests-container">
        <h1 class="welcome-title">
          Welcome, <span class="user-name"><%= user.studentProfile.firstName %> <%= user.studentProfile.lastName %></span>
        </h1>
        <p class="subtext">Please select all your interest!</p>
        <form class="interests-form">
          <h2 class="form-title">Pick Your Interest</h2>

          <div class="checkbox-group">
            <div class="checkbox-item">
                <label for="interest1">Science</label>
                <input type="checkbox" id="interest1" name="interests" value="science">
              
            </div>
    
            <div class="checkbox-item">
                <label for="interest2">Technology</label>
                <input type="checkbox" id="interest2" name="interests" value="technology">
                
            </div>
    
            <div class="checkbox-item">
                <label for="interest3">Engineering</label>
                <input type="checkbox" id="interest3" name="interests" value="engineering">
                
            </div>
    
            <div class="checkbox-item">
                <label for="interest4">Math</label>
                <input type="checkbox" id="interest4" name="interests" value="math">
                
            </div>
    
            <div class="checkbox-item">
                <label for="interest5">Arts</label>
                <input type="checkbox" id="interest5" name="interests" value="arts">
                
            </div>
    
            <div class="checkbox-item">
                <label for="interest6">Politics</label>
                <input type="checkbox" id="interest6" name="interests" value="politics">
                
            </div>
    
            <div class="checkbox-item">
                <label for="interest7">History</label>
                <input type="checkbox" id="interest7" name="interests" value="history">
                
            </div>
    
            <div class="checkbox-item">
                <label for="interest8">Sports</label>
                <input type="checkbox" id="interest8" name="interests" value="sports">
                
            </div>
    
            <div class="checkbox-item">
                <label for="interest9">Reading/Writing</label>
                <input type="checkbox" id="interest9" name="interests" value="literature">
                
            </div>
    
            <div class="checkbox-item">
                <label for="interest10">Music</label>
                <input type="checkbox" id="interest10" name="interests" value="music">
            </div>
    
            <div class="checkbox-item">
                <label for="interest11">Medicine</label>
                <input type="checkbox" id="interest11" name="interests" value="medicine">
            </div>
          </div>

          <button class="submit-interest">Submit</button>

        </form>
      </div>
    </div>
  <% } %>

</div>


<script>
  const form = document.querySelector(".interests-form");
  const teacherButtonContainer = document.querySelector(".button-container");
  const teacherButton = document.querySelector(".teacher-button");
  const profileButton = document.getElementById("profile-button");
  
  const program = document.getElementById("program");
  const internships = document.getElementById("internships");
  const clubs = document.getElementById("clubs");
  const scholarships = document.getElementById("scholarships");

  const refreshButton = document.getElementById("refresh-button");


  if (program && internships && clubs && scholarships) {
    document.addEventListener("DOMContentLoaded", async (event) => {
      event.preventDefault();

      const id = "<%= user._id %>";

      try {
        const res = await fetch(`/student-home/${id}/get-interests`, {
          method: "GET",
          headers: { "Content-Type": "application/json" }
        });
        const data = await res.json();
        if (data.error) {
          console.log(data.error);
        }
        if (data.success) {
          programsArr = data.programs;
          clubsArr = data.clubs;
          scholarshipsArr = data.scholarships;
          internshipsArr = data.internships;
          projectsArr = data.personalProjects;

          programsArr.forEach(prog => {
            const newElement = document.createElement("p");
            newElement.textContent = prog;
            program.appendChild(newElement);
          })
          clubsArr.forEach(clb => {
            const newElement = document.createElement("p");
            newElement.textContent = clb;
            clubs.appendChild(newElement);
          })
          internshipsArr.forEach(intshp => {
            const newElement = document.createElement("p");
            newElement.textContent = intshp;
            internships.appendChild(newElement);
          })
          scholarshipsArr.forEach(schshp => {
            const newElement = document.createElement("p");
            newElement.textContent = schshp;
            scholarships.appendChild(newElement);
          })
        }
      }
      catch (err) {
        console.log(err);
      }
    });
  }

  if (form) {
    form.addEventListener("submit", async (event) => {
      event.preventDefault();

      const checkboxes = document.querySelectorAll('input[name="interests"]:checked');
      const selectedInterests = Array.from(checkboxes).map(checkbox => checkbox.value);

      const id = "<%= user._id %>";

      try {
        const res = await fetch("/student-home/update-interests", {
          method: "PUT",
          body: JSON.stringify({ id, selectedInterests }),
          headers: { "Content-Type": "application/json" }
        });
        const data = await res.json();
        if (data.error) {
          console.log(data.error);
        }
        if (data.success) {
          location.assign(`/student-home/${id}`);
        }
      }
      catch (err) {
        console.log("Failed to fetch the page :(");
      }
    });
  }
  
  if (teacherButton) {
    teacherButton.addEventListener("click", async (event) => {
      const newClassForm = document.createElement("form");
      newClassForm.classList.add("class-form");
      teacherButtonContainer.appendChild(newClassForm);

      teacherButtonContainer.removeChild(teacherButton);

      // Now that newClassForm is created, assign it to classForm
      const classForm = document.querySelector(".class-form");

      // Execute the logic in the second if block after creating classForm
      if (classForm) {

        const newInput = document.createElement("input");
        newInput.type = "text";
        newInput.name = "classId";
        newInput.placeholder = "Class ID";
        classForm.appendChild(newInput);

        const errorMessage = document.createElement("p");
        errorMessage.classList.add("not-found");
        errorMessage.classList.add("error");
        classForm.appendChild(errorMessage);

        const error = document.querySelector(".not-found");

        const submit = document.createElement("button");
        submit.textContent = "Submit";
        submit.type = "submit";
        submit.classList.add("submit-button");
        classForm.appendChild(submit);


        classForm.addEventListener("submit", async (event) => {
          event.preventDefault();

          const classId = classForm.classId.value;
          const studentId = "<%= user._id %>";

          try {
            const res = await fetch("/student-home/add-educator", {
              method: "PUT",
              body: JSON.stringify({ classId, studentId }),
              headers: { "Content-Type": "application/json" }
            });
            const data = await res.json();
            if (data.noProfile) {
              error.textContent = data.noProfile;
            }
            if (data.error) {
              console.log(data.error);
            }
            if (data.success) {
              location.reload();
            }
          }
          catch (err) {
            console.log("Failed to fetch the page :(");
          }
        });
      }
    });
  }


  const profileForm = document.querySelector(".profile-select-form");

  if (profileButton) {
    profileButton.addEventListener("click", (event) => {
      profileForm.classList.toggle("invisible");
    });
  }

  if (profileForm) {
    profileForm.addEventListener("submit", async (event) => {
      event.preventDefault();

      const id = "<%= user._id %>";
      const profilePicture = profileForm.profile.value;

      try {
        console.log("here");
        const res = await fetch(`/student-home/${id}/profile-picture/put`, {
          method: "PUT",
          body: JSON.stringify({ profilePicture }),
          headers: { "Content-Type": "application/json" }
        });
        console.log("After");
        const data = await res.json();
        if (data.error) {
          console.log(data.error);
        }
        if (data.success) {
          location.reload();
        }
      }
      catch (err) {
        console.log("Failed to fetch the page :(");
      }
    })
  }


</script>



<%- include("partials/footer"); %>
